@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: "Playfair Display", sans-serif;
  font-size: 0.875rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 64.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.title {
  text-align: center;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  position: relative;
  z-index: 5;
  display: flex;
}
.menu__link {
  font-size: 0.75rem;
}
.menu__link {
  transition: scale 0.3s;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  color: rgb(246, 234, 234);
}
.header__container {
  padding: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: #2F2F2F;
  color: rgb(246, 234, 234);
}
.footer__body {
  border-top: 0.0625rem solid #CDCACA;
}
.footer__body {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.footer__col:nth-child(2) {
  border-left: 0.0625rem solid #CDCACA;
  border-right: 0.0625rem solid #CDCACA;
}
.footer__col:nth-child(3) {
  margin-bottom: 0;
}
.footer__title {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 1.5625rem;
}
.footer__list {
  text-align: center;
}
.footer__link {
  margin-bottom: 1.5625rem;
}
.footer__bottom {
  border-top: 0.0625rem solid #CDCACA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  font-size: 1.5rem;
}/* Generated by vite-plugin-svg-spritemap */@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 47.99875em){
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
    background-color: rgba(14, 14, 14, 0.9);
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }
  .menu__link {
    font-size: 2.125rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(246, 234, 234);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .footer__body {
    padding: 0;
  }
  .footer__link {
    margin-bottom: 0.625rem;
    padding: 0.125rem;
  }
}@media (max-width: 29.99875em){
  .footer__body {
    display: flex;
    flex-direction: column;
    border-top: none;
  }
  .footer__col {
    border-bottom: 0.0625rem solid #CDCACA;
    margin-bottom: 1.875rem;
  }
  .footer__col:nth-child(2) {
    border-left: none;
    border-right: none;
  }
  .footer__text {
    margin-bottom: 1.25rem;
  }
  .footer__bottom {
    border-top: none;
  }
}@media (width <= 20em){
  .title h2 {
    font-size: 1.5rem;
  }
  .title h3 {
    font-size: 1.125rem;
  }
  .menu__list {
    gap: 0.9375rem;
  }
  .header {
    margin-top: 6.25e-8rem;
  }
  .header__logo {
    font-size: 1.5rem;
  }
  .footer {
    padding-bottom: 0.9375rem;
  }
  .footer {
    padding-top: 1.25rem;
  }
  .footer__body {
    padding-top: 6.25e-8rem;
  }
  .footer__body {
    padding-left: 6.25e-8rem;
  }
  .footer__body {
    padding-bottom: 6.25e-8rem;
  }
  .footer__body {
    padding-right: 6.25e-8rem;
  }
  .footer__col:nth-child(2) {
    padding-left: 0.9375rem;
  }
  .footer__col:nth-child(2) {
    padding-right: 0.9375rem;
  }
  .footer__text {
    margin-top: 0.625rem;
  }
  .footer__bottom {
    padding-top: 0.3125rem;
  }
}@media (width > 20em) and (width <= 64.375em){
  .title h2 {
    font-size: clamp( 1.5rem , 1.1619718309875rem  +  1.6901408451vw , 2.25rem );
  }
  .title h3 {
    font-size: clamp( 1.125rem , 0.95598591549375rem  +  0.8450704225vw , 1.5rem );
  }
  .menu__list {
    gap: clamp( 0.9375rem , 0.4586267605625rem  +  2.3943661972vw , 2rem );
  }
  .header {
    margin-top: clamp( 6.25e-8rem , -0.84507033186875rem  +  4.2253519718vw , 1.875rem );
  }
  .header__logo {
    font-size: clamp( 1.5rem , 1.1619718309875rem  +  1.6901408451vw , 2.25rem );
  }
  .footer {
    padding-bottom: clamp( 0.9375rem , 0.51496478873125rem  +  2.1126760563vw , 1.875rem );
  }
  .footer {
    padding-top: clamp( 1.25rem , 0.5457746478875rem  +  3.5211267606vw , 2.8125rem );
  }
  .footer__body {
    padding-top: clamp( 6.25e-8rem , -0.84507033186875rem  +  4.2253519718vw , 1.875rem );
  }
  .footer__body {
    padding-left: clamp( 6.25e-8rem , -1.54929568398125rem  +  7.7464787324vw , 3.4375rem );
  }
  .footer__body {
    padding-bottom: clamp( 6.25e-8rem , -0.84507033186875rem  +  4.2253519718vw , 1.875rem );
  }
  .footer__body {
    padding-right: clamp( 6.25e-8rem , -1.54929568398125rem  +  7.7464787324vw , 3.4375rem );
  }
  .footer__col:nth-child(2) {
    padding-left: clamp( 0.9375rem , -1.87940140845rem  +  14.0845070423vw , 7.1875rem );
  }
  .footer__col:nth-child(2) {
    padding-right: clamp( 0.9375rem , -1.87940140845rem  +  14.0845070423vw , 7.1875rem );
  }
  .footer__text {
    margin-top: clamp( 0.625rem , -0.783450704225rem  +  7.0422535211vw , 3.75rem );
  }
  .footer__bottom {
    padding-top: clamp( 0.3125rem , -0.11003521126875rem  +  2.1126760563vw , 1.25rem );
  }
}@media (width > 64.375em){
  .title h2 {
    font-size: 2.25rem;
  }
  .title h3 {
    font-size: 1.5rem;
  }
  .menu__list {
    gap: 2rem;
  }
  .header {
    margin-top: 1.875rem;
  }
  .header__logo {
    font-size: 2.25rem;
  }
  .footer {
    padding-bottom: 1.875rem;
  }
  .footer {
    padding-top: 2.8125rem;
  }
  .footer__body {
    padding-top: 1.875rem;
  }
  .footer__body {
    padding-left: 3.4375rem;
  }
  .footer__body {
    padding-bottom: 1.875rem;
  }
  .footer__body {
    padding-right: 3.4375rem;
  }
  .footer__col:nth-child(2) {
    padding-left: 7.1875rem;
  }
  .footer__col:nth-child(2) {
    padding-right: 7.1875rem;
  }
  .footer__text {
    margin-top: 3.75rem;
  }
  .footer__bottom {
    padding-top: 1.25rem;
  }
}@media (any-hover: hover){
  .menu__link:hover {
    scale: 1.1;
  }
  .footer__link a:hover {
    text-decoration: underline;
  }
}